<div class="well well-sm">
    <legend class="text-center">{{ 'configure' }}: {{ asset.label }}</legend>
    <input type="color" class="form-control" value="{{ asset.value }}" id="asset-data-wrap">
    <br>
    <div class="well well-sm">
        <button class="btn btn-sm btn-primary pull-right" onclick="ConfigureAsset.saveAssetValue(this, '{{ asset.path }}')">
            {{ 'save.value'|trans }}
        </button>
        <br>
        <br>
    </div>
</div>
