<div class="well well-sm">
    <legend class="text-center">{{ 'configure' }}: {{ asset.label }}</legend>
    <form id="asset-form" data-toggle="validator">
        <div class="form-group">
            <input type="email" class="form-control"
                   data-error="That email address is invalid"
                   value="{{ asset.value }}"
                   id="asset-data-wrap"
                   required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="well well-sm">
            <input type="submit" class="btn btn-sm btn-primary pull-right" value="{{ 'save.value'|trans }}">
            <br>
            <br>
        </div>
    </form>
</div>
<script>
    $('#asset-form').validator().on('submit', function (e) {
        if (!e.isDefaultPrevented()) {
            e.preventDefault();
            ConfigureAsset.saveAssetValue(this, '{{ assetKey }}');
        }
    })
</script>
