<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>{{ panel_title }}</title>

    {% block style %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('/bundles/baboonpanel/css/bootstrap.css') }}" rel="stylesheet">
        <!--external css-->
        <link href="{{ asset('/bundles/baboonpanel/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />

        <!-- Custom styles for this template -->
        <link href="{{ asset('/bundles/baboonpanel/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('/bundles/baboonpanel/css/style-responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/baboonpanel/js/fancybox/jquery.fancybox.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/bootstrap-markdown/css/bootstrap-markdown.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/summernote/dist/summernote.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/Jcrop/css/Jcrop.min.css') }}" rel="stylesheet">
    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>{{ panel_title }}</b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="{{ path('fos_user_security_logout') }}">Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="profile.html"><img src="{{ asset('/bundles/baboonpanel/img/ui-sam.jpg') }}" class="img-circle" width="60"></a></p>
                <h5 class="centered">@{{ app.user.username }}</h5>

                <li class="mt">
                    <a href="{{ path('bb_themes') }}">
                        <i class="fa fa-desktop"></i>
                        <span>Themes</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('bb_panel_configuration') }}">
                        <i class="fa fa-file-image-o"></i>
                        <span>Configuration</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> {% block title %}Blank page{% endblock %}</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </section><! --/wrapper -->
    </section><!-- /MAIN CONTENT -->

    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            2016 - Baboon Environment
            <a href="blank.html#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
</section>

{% block script %}
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/baboonpanel/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/baboonpanel/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/baboonpanel/js/jquery-ui-1.9.2.custom.min.js') }}"></script>
    <script src="{{ asset('bundles/baboonpanel/js/jquery.ui.touch-punch.min.js') }}"></script>
    <script src="{{ asset('bundles/baboonpanel/js/jquery.dcjqaccordion.2.7.js') }}"></script>
    <script src="{{ asset('bundles/baboonpanel/js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('bundles/baboonpanel/js/fancybox/jquery.fancybox.js') }}"></script>
    <script src="{{ asset('vendor/noty/js/noty/packaged/jquery.noty.packaged.min.js') }}"></script>
    <script src="{{ asset('vendor/markdown/lib/markdown.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap-markdown/js/bootstrap-markdown.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap-validator/dist/validator.min.js') }}"></script>
    <script src="{{ asset('vendor/summernote/dist/summernote.js') }}"></script>
    <script src="{{ asset('vendor/Jcrop/js/Jcrop.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <!--common script for all pages-->
    <script src="{{ asset('/bundles/baboonpanel/js/common-scripts.js') }}"></script>
{% endblock %}
</body>
</html>
